In [15]:
import pandas as pd

/var/folders/pd/38jn5w_51k92jyv8dvk65ggm0000gn/T/ipykernel_26298/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [16]:
cars_df=pd.read_csv('data/cars.csv')

In [17]:
cars_df.head(5)

    mpg   cylinders  cubicinches   hp  weightlbs   time-to-60   year     brand
0  14.0           8          350  165       4209           12   1972       US.
1  31.9           4           89   71       1925           14   1980   Europe.
2  17.0           8          302  140       3449           11   1971       US.
3  15.0           8          400  150       3761           10   1971       US.
4  30.5           4           98   63       2051           17   1978       US.

In [18]:
# Lambda Function Exercise
a=[1,2,3,4,5,6,7,8,9]

In [19]:
# Lambda function

# variable = lambda arguments : expression

# Example 1
add_ten = list(map(lambda s : s**s,a))

In [20]:
add_ten

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [21]:
# removing any leading and trailing spaces using strip
s=' ss s sss   '
s.strip()

'ss s sss'

In [23]:
#using strip to remove any unwated trailing spaces bw column names

cars_df.columns=list(map(lambda col_name : col_name.strip(), cars_df.columns))

In [24]:
cars_df.head()

    mpg  cylinders cubicinches   hp weightlbs  time-to-60  year     brand
0  14.0          8         350  165      4209          12  1972       US.
1  31.9          4          89   71      1925          14  1980   Europe.
2  17.0          8         302  140      3449          11  1971       US.
3  15.0          8         400  150      3761          10  1971       US.
4  30.5          4          98   63      2051          17  1978       US.